<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.omnirom.omnirecord"
          android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW" />

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" >

        <receiver android:name=".TakeScreenRecordService$ScreenRecordReceiver" >
            <intent-filter>
                <action android:name="org.omnirom.omnirecord.ACTION_START" />
            </intent-filter>
        </receiver>

        <service android:name=".TakeScreenRecordService"
                 android:exported="false" />

        <!-- Springboard for launching the share activity -->
        <receiver android:name=".GlobalScreenRecord$ShareReceiver"
                  android:exported="false" />

        <!-- Callback for dismissing screenrecord notification after a share target is picked -->
        <receiver android:name=".GlobalScreenRecord$TargetChosenReceiver"
                  android:exported="false" />

        <!-- Callback for deleting screenrecord notification -->
        <receiver android:name=".GlobalScreenRecord$DeleteScreenrecordReceiver"
                  android:exported="false" />

        <!--<service
            android:name=".ScreenRecordTileService"
            android:icon="@drawable/ic_qs_screenrecord"
            android:label="@string/screenrecord_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action
                    android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>-->

        <activity
            android:name=".SettingsActivity"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.DeviceDefault.Settings" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
